
:root {
  --fill: #3498db;
  --empty: #e0e0e0;
}

body
{
  background-color: #f6f7fb;
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

section
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-20%);
  display: flex;
  width: 500px;
  margin: auto;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.count
{
  width: 80%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-between; */
  position: relative;
}
.progress {
  background-color: var(--fill);
  position: absolute;
  top: 50%;
  left:0%;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}
.progress2 {
  background-color: var(--empty);
  position: absolute;
  top: 50%;
  left:0%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
    z-index: -100;
  transition: 0.4s ease;
}
.box
{
  float: left;
  margin-right: calc(32% - 40px);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px;
  width: 5px;
  padding: 10px;
  border-radius: 50%;
  border: 4px solid var(--empty);
  background-color:rgb(255, 255, 255);
  position: relative;
}
.box:last-child
{
  float: right;
  margin-right: 0;
  right: 0;
}
.box.active
{
  border: 4px solid var(--fill);
}
.box .number
{
  color: #777;
  font-size: 20px;
}
/* .box span
{
  height: 3px;
  position: absolute;
  display: block;
  background-color: var(--empty);
  width: 82px;
  left: 105%;
  z-index: -1;
} */
.buttons
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button
{
  margin: 30px 10px;
  padding: 10px 25px;
  border-radius: 8px;
  background-color: var(--fill);
  border: none;
  color: var(--empty);
  cursor: pointer;
  font-weight: bold;
}

/* .box.active span
{
  background-color: var(--fill);
} */